.banner {       
    height:150px;
    width: 100%;
    background-color: gray;
    padding-top : 55px;
}

.clear-padding {
    padding:0;
}

.balance {
    font-family: 'Roberto-condensed', sans-serif;
    padding-top: 30px;
}

#account-balance {
    color: #9ab278;
    font-size: 40px;
    font-weight: 700;
}

.form-container {
    padding: 15px;
}

.transaction-card {
    padding-right: 20px;
}

#transaction-button {
    float: right;
    max-width: 180px;
    min-width: 120px;
    margin-right: 10px;
}

#amount-input {
    display: flex;
}

#amount {
    display: inline;
    margin-left: 5px;
}

